<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
    <h1>Movies</h1>
    <p>All movies in MovieHub</p>

    <ul>
        <li><a th:href="@{/moviehub}">Home</a></li>
        <li><a th:href="@{/movies}">Movies</a></li>
        <li><a th:href="@{/series}">Series</a></li>
        <li><a th:href="@{/watchlist}">Watchlist</a></li>
        <li><a th:href="@{/watched}">Watched</a></li>
    </ul>

    <table>
        <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Release Year</th>
            <th>Duration</th>
            <th>Genre</th>
            <th>Action</th>
        </tr>

        <tr th:each="movie : ${movies}">
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.director}"></td>
            <td th:text="${movie.releaseYear}"></td>
            <td th:text="${movie.duration}"></td>
            <td th:text="${movie.genre.genreName}"></td>
            <td>
                <a th:href="@{/addmovietowatchlist/{id}(id=${movie.id})}">Add to watchlist</a>
                <a th:href="@{/markmoviewatched/{id}(id=${movie.movieId})}">Mark as watched</a>
            </td>
        </tr>
    </table>
</body>
</html>