<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="bg-beige">

    <div class="col-md-4 offset-md-4 mt-5">
        <div class="card shadow-sm p-4">
            <h2 class="mb-3 text-center">MovieHub</h2>
            <p class="text-center text-muted">Enter your email address and we’ll send you a password reset link.</p>

            <div class="alert alert-danger" th:if="${error != null}">
                <p class="mb-0">[[${error}]]</p>
            </div>

            <div class="alert alert-warning" th:if="${message != null}">
                <p class="mb-0">[[${message}]]</p>
            </div>

            <form th:action="@{/forgotpassword}" method="post">
                <div class="mb-3">
                    <label>Email:
                        <input type="email" name="email" class="form-control" />
                    </label>
                </div>

                <div class="mt-3">
                    <input type="submit" value="Send link" class="btn btn-primary" />
                </div>
            </form>

            <div class="mt-3">
                <p>Remembered your password?</p>
                <a th:href="@{/login}">Login</a>
                <p class="mt-2">Don’t have an account?</p>
                <a th:href="@{/register}">Sign-up</a>
            </div>
        </div>
    </div>

</body>
</html>