<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Moviehub Add</title>
    <meta charset="UTF-8" />
</head>
<body>
    <h1>Add serie form</h1>

    <form th:object="${serie}" th:action="@{/saveserie}" method="post">

        <input type="hidden" th:field="*{id}" />


        <label for="title">Title</label>
        <input type="text" id="title" th:field="*{title}" />
       

        <label for="creator">Creator</label>
        <input type="text" id="creator" th:field="*{creator}" />
        

        <label for="releaseYear">Release Year</label>
        <input type="number" id="releaseYear" th:field="*{releaseYear}" />

        <label for="seasons">Seasons</label>
        <input type="number" id="seasons" th:field="*{seasons}" />

        <label for="episodes">Episodes</label>
        <input type="number" id="episodes" th:field="*{episodes}" />
    
        <label for="duration">Duration</label>
        <input type="number" id="duration" th:field="*{duration}" />

        <label for="genre">Genre</label>
        <select id="genre" th:field="*{genre.genreId}">
            <option th:each="genre : ${genres}"
                    th:value="${genre.genreId}"
                    th:text="${genre.genreName}">
            </option>
        </select>
        
        <input type="submit" value="Save" />
    </form>
</body>
</html>
