<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>Movies</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <h1>Movies</h1>
    <p>All movies in MovieHub</p>

    <ul>
        <li><a th:href="@{/moviehub}">Home</a></li>
        <li><a th:href="@{/movies}">Movies</a></li>
        <li><a th:href="@{/series}">Series</a></li>
        <li><a th:href="@{/watchlist}">Watchlist</a></li>
        <li><a th:href="@{/watched}">Watched</a></li>
    </ul>
    <form th:action="@{/movies/search}" method="get">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Search by title, director or genre">
        <button type="submit">Search</button>
    </form>
    <div sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/addmovie}">+ Add movie</a>
    </div>
   
    <table>
        <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Release Year</th>
            <th>Duration</th>
            <th>Genre</th>
            <th>Add to watchlist</th>
            <th>Add to watched</th>
            <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
        </tr>

        <tr th:each="movie : ${movies}">
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.director}"></td>
            <td th:text="${movie.releaseYear}"></td>
            <td th:text="${movie.duration}"></td>
            <td th:text="${movie.genre.genreName}"></td>
            <td>
                <a th:href="@{/addmovietowatchlist/{id}(id=${movie.id})}">Add to watchlist</a>
            </td>
            <td>
                <a th:href="@{/markmoviewatched/{id}(id=${movie.id})}">Mark as watched</a>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/deletemovie/{id}(id=${movie.id})}"
                    onclick="return confirm('Delete this movie?')">Delete</a>
            </td>
        </tr>
    </table>
</body>

</html>