<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>MovieHub</title>
</head>

<body>
    <h1>MovieHub</h1>
    <p>Welcome to your home page <span sec:authentication="name">!</span></p>
    <p>Select a page:</p>

    <ul>
        <li><a th:href="@{/movies}">Movies</a></li>
        <li><a th:href="@{/series}">Series</a></li>
        <li><a th:href="@{/watchlist}">Watchlist</a></li>
        <li><a th:href="@{/watched}">Watched</a></li>
    </ul>

    <div>
        <p>Here you can log out</p>
        <form th:action="@{/logout}" method="post" style="display:inline;">
            <input type="submit" value="Log out" />
        </form>
    </div>
</body>

</html>