<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Moviehub Register</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
    <div class="col-md-4 col-md-offset-4">
        <h2>Create account</h2>

        <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>

        <form th:action="@{/register}" th:object="${registerForm}" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" th:field="*{username}" class="form-control" required />
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" th:field="*{email}" class="form-control" required />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" th:field="*{password}" class="form-control" required />
            </div>
            <div class="form-group">
                <label>Confirm password</label>
                <input type="password" th:field="*{confirmPassword}" class="form-control" required />
            </div>

            <div style="margin-top: 10px;">
                <input type="submit" value="Register" class="btn btn-success" />
                <a th:href="@{/login}" class="btn btn-link">Back to login</a>
            </div>
        </form>
    </div>
    <p>Allready have an account?</p>
    <li><a th:href="@{/login}">Login here</a></li>
</body>

</html>