<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>Series</title>
</head>

<body>
    <h1>Series</h1>
    <p>All series in MovieHub</p>

    <ul>
        <li><a th:href="@{/moviehub}">Home</a></li>
        <li><a th:href="@{/movies}">Movies</a></li>
        <li><a th:href="@{/series}">Series</a></li>
        <li><a th:href="@{/watchlist}">Watchlist</a></li>
        <li><a th:href="@{/watched}">Watched</a></li>
    </ul>
    <form th:action="@{/series/search}" method="get">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Search by title, creator or genre">
        <button type="submit">Search</button>
    </form>
    <div>
        <a th:href="@{/addserie}">+ Add serie
        </a>
    </div>


    <table>
        <tr>
            <th>Title</th>
            <th>Creator</th>
            <th>Release Year</th>
            <th>Seasons</th>
            <th>Episodes</th>
            <th>Duration</th>
            <th>Genre</th>
            <th>Add to watchlist</th>
            <th>Add to watched</th>
            <th>Delete</th>
        </tr>

        <tr th:each="serie : ${series}">
            <td th:text="${serie.title}"></td>
            <td th:text="${serie.creator}"></td>
            <td th:text="${serie.releaseYear}"></td>
            <td th:text="${serie.seasons}"></td>
            <td th:text="${serie.episodes}"></td>
            <td th:text="${serie.duration}"></td>
            <td th:text="${serie.genre.genreName}"></td>
            <td>
                <a th:href="@{/addserietowatchlist/{id}(id=${serie.id})}">Add to watchlist</a>
            </td>
            <td>
                <a th:href="@{/markseriewatched/{id}(id=${serie.id})}">Mark as watched</a>
            </td>
            <td>
                <a th:href="@{/deleteserie/{id}(id=${serie.id})}"
                    onclick="return confirm('Delete this series?')">Delete</a>
            </td>
        </tr>
    </table>
</body>

</html>