<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>Watched</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <h1>Watched</h1>
    <p>Movies and series you have already watched</p>

    <ul>
        <li><a th:href="@{/moviehub}">Home</a></li>
        <li><a th:href="@{/movies}">Movies</a></li>
        <li><a th:href="@{/series}">Series</a></li>
        <li><a th:href="@{/watchlist}">Watchlist</a></li>
        <li><a th:href="@{/watched}">Watched</a></li>
    </ul>

    <h2>Movies</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Release Year</th>
            <th>Duration</th>
            <th>Genre</th>
            <th>Return movie back to movies</th>

        </tr>

        <tr th:each="movie : ${watchedMovies}">
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.director}"></td>
            <td th:text="${movie.releaseYear}"></td>
            <td th:text="${movie.duration}"></td>
            <td th:text="${movie.genre.genreName}"></td>
            <td>
                <a th:href="@{/returnmovietomovies/{id}(id=${movie.id})}">Delete movie from watched</a>
            </td>
        </tr>
    </table>

    <h2>Series</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Creator</th>
            <th>Release Year</th>
            <th>Seasons</th>
            <th>Episodes</th>
            <th>Episode Duration</th>
            <th>Genre</th>
            <th>Return serie back to series</th>
        </tr>

        <tr th:each="serie : ${watchedSeries}">
            <td th:text="${serie.title}"></td>
            <td th:text="${serie.creator}"></td>
            <td th:text="${serie.releaseYear}"></td>
            <td th:text="${serie.seasons}"></td>
            <td th:text="${serie.episodes}"></td>
            <td th:text="${serie.duration}"></td>
            <td th:text="${serie.genre.genreName}"></td>
            <td>
                <a th:href="@{/returnserietoseries/{id}(id=${serie.id})}">Delete serie from watched</a>
            </td>
        </tr>
    </table>
</body>

</html>